* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.hotel {
  border: 1px solid black;
  width: 20%;
  height: 30%;
  font-size: 20px;
}
